In [77]:
import openpyxl
import pprint
import re
import pandas as pd

#Excel読み込み
wb1 = openpyxl.load_workbook("sample.xlsx")
wb2 = openpyxl.load_workbook("seikyu.xlsx")

#シートネーム全部リスト化
wb1sheet = [sheetname for sheetname in wb1.sheetnames]#請求元サンプル入ってる。
wb2sheet = [sheetname for sheetname in wb2.sheetnames]#請求書一覧データ


#3行目をカラムとしてリスト化
col = []
for row in sheet1.iter_cols():
    for cell in row:
        if cell.row == 3:
            col.append(cell.value)
print(col)

#各シートデータ、行最大値リスト化
sheet_list = []
max_row_list = []
for i,sheet in enumerate(wb2sheet):
    if re.search('請求一覧', sheet):
        sheet_row = wb2[wb2sheet[i]]
        sheet_list.append(sheet_row)
        max_row_list.append(sheet_row.max_row)

#列名置き換え用辞書型カラムデータ作成
dic_col = {}
for i,col in enumerate(col):
    dic_col[i] = col
    
print(dic_col)
print(sheet_list)
print(max_row_list)

['受注No.', '相手先名', '相手先コード', '商品名１', '商品名２', '検収日', '金額（税抜き）', '備考']
{0: '受注No.', 1: '相手先名', 2: '相手先コード', 3: '商品名１', 4: '商品名２', 5: '検収日', 6: '金額（税抜き）', 7: '備考'}
[<Worksheet "請求一覧2101">, <Worksheet "請求一覧2102">, <Worksheet "請求一覧2103">, <Worksheet "請求一覧2105">, <Worksheet "請求一覧2106">, <Worksheet "請求一覧2107">, <Worksheet "請求一覧2108">, <Worksheet "請求一覧2109">, <Worksheet "請求一覧2110">]
[13, 13, 13, 13, 13, 13, 13, 13, 13]

In [94]:
#行情報取得関数（取得した行をリストに入れる）
def get_value_list(t_2d):
    return([[cell.value for cell in row] for row in t_2d])

def get_list_2d(sheet, start_row, end_row, start_col, end_col):
    return get_value_list(sheet.iter_rows(min_row=start_row,
                                          max_row=end_row,
                                          min_col=start_col,
                                          max_col=end_col))

from datetime import datetime

for i,sheet in enumerate(sheet_list):
    l_2d = get_list_2d(sheet, 4, max1, 0, 8)
    name = sheet.title[:4]
    year = "20" + sheet.title[4:6]
    month = sheet.title[6:]
    date = datetime(int(year),int(month),1)
    date_ym = date.strftime('%Y-%m')
    print(date_ym,type(date_ym))
    df = pd.DataFrame(l_2d)
    seikyu_df = df.rename(columns=dic_col)
    seikyu_df = seikyu_df.dropna(how='all')
    display(sheet.title)
    display(seikyu_df)


#pprint.pprint(l_2d, width=40)

2021-01 <class 'str'>

'請求一覧2101'

      受注No.  相手先名  相手先コード 商品名１  商品名２   検収日  金額（税抜き）         備考
0  201201.0  None  1005.0  顧問料  None  28.0  80000.0  2020.12月分

2021-02 <class 'str'>

'請求一覧2102'

      受注No.  相手先名  相手先コード 商品名１  商品名２   検収日  金額（税抜き）        備考
0  210101.0  None  1005.0  顧問料  None  27.0  80000.0  2021.1月分

2021-03 <class 'str'>

'請求一覧2103'

      受注No.  相手先名  相手先コード      商品名１  商品名２   検収日   金額（税抜き）        備考
0  200603.0  None  3001.0  納品管理システム  None  19.0  970000.0      None
1  201203.0  None  1005.0    社内教育企画  None  30.0  150000.0      None
2  210201.0  None  1005.0       顧問料  None  31.0   80000.0  2021.2月分

2021-05 <class 'str'>

'請求一覧2105'

      受注No.  相手先名  相手先コード        商品名１    商品名２   検収日   金額（税抜き）    備考
0  201204.0  None  5002.0      ＨＰデザイン  リニューアル  28.0  230000.0  None
1  201202.0  None  6002.0  イベント運営システム    ＨＰ連動  29.0  275000.0  None
2  210102.0  None  6002.0  イベント運営システム  機能追加対応  29.0  110000.0  None
3  210202.0  None  3002.0        ＨＰ作成    None  31.0  450000.0  None

2021-06 <class 'str'>

'請求一覧2106'

      受注No.  相手先名  相手先コード        商品名１    商品名２   検収日   金額（税抜き）    備考
0  210404.0  None  3002.0        ＨＰ作成  機能追加対応  15.0  175000.0  None
1  210203.0  None  1001.0  ＮＣＴ社向け営業支援    窓口紹介  21.0   35000.0  None

2021-07 <class 'str'>

'請求一覧2107'

      受注No.  相手先名  相手先コード         商品名１        商品名２   検収日   金額（税抜き）      備考
0  210402.0  None  1003.0  バッテリー制御システム  bmc064、068  31.0  387000.0  発注書毎請求
1  210403.0  None  1003.0  バッテリー制御システム  bmc069、071  31.0  354000.0  発注書毎請求

2021-08 <class 'str'>

'請求一覧2108'

      受注No.  相手先名  相手先コード         商品名１  商品名２   検収日  金額（税抜き）    備考
0  210502.0  None  1005.0  営業ツール企画活動支援  None  16.0  80000.0  None
1  210405.0  None  1001.0   ＮＣＴ社向け営業支援  None  30.0  80000.0  None

2021-09 <class 'str'>

'請求一覧2109'

      受注No.  相手先名  相手先コード        商品名１       商品名２   検収日   金額（税抜き）    備考
0  210503.0  None  1002.0  ＳＳ社向けプログラム    ss07510  18.0  380000.0  None
1  210501.0  None  1004.0   在宅営業管理ＰＧ群  ｱﾝﾄﾞﾛｲﾄﾞ版  25.0  320000.0  None

2021-10 <class 'str'>

'請求一覧2110'

,受注No.,相手先名,相手先コード,商品名１,商品名２,検収日,金額（税抜き）,備考
0,210601.0,None,4001.0,次年度用職員募集,ホームページ作成,10.0,350000.0,None
1,210602.0,None,2001.0,FK社名古屋工場向け,ネットワーク設計,16.0,580000.0,None
2,210701.0,None,1002.0,SS 社向けプログラム開発,"ss07534, ss07535",20.0,648000.0,None
3,210702.0,None,1001.0,TN 社向け営業支援,None,20.0,133000.0,None
4,210803.0,None,4001.0,次年度用ホームページ,仕様変更対応作業,22.0,55000.0,None
5,210901.0,None,1001.0,ＫＹ社向け営業支援,継続活動,25.0,80000.0,21年10月分
6,210401.0,None,3001.0,納品管理システム,変更作業,28.0,456000.0,None