In [43]:
#pandasでやる
import openpyxl
import pprint
import pandas as pd

df = pd.read_excel("seikyu.xlsx", sheet_name= index_col=4)
df1 = pd.read_excel("sample.xlsx", index_col=0)

display(df)

SyntaxError: invalid syntax (104228098.py, line 6)

In [47]:
import openpyxl
import pprint
import pandas as pd

#Excel読み込み
wb1 = openpyxl.load_workbook("sample.xlsx")
wb2 = openpyxl.load_workbook("seikyu.xlsx")
print(wb1.sheetnames)
print(wb2.sheetnames)

#シートネーム全部リスト化
wb1sheet = [sheetname for sheetname in wb1.sheetnames]
print(wb1sheet)
wb2sheet = [sheetname for sheetname in wb2.sheetnames]
sheet1 = wb2[wb2sheet[0]]
max1 = sheet1.max_row


#3行目をカラムとしてリスト化
col = []
for row in sheet1.iter_cols():
    for cell in row:
        if cell.row == 3:
            col.append(cell.value)
print(col)


def get_value_list(t_2d):
    return([[cell.value for cell in row] for row in t_2d])


l_2d = get_value_list(sheet1)

def get_list_2d(sheet, start_row, end_row, start_col, end_col):
    return get_value_list(sheet.iter_rows(min_row=start_row,
                                          max_row=end_row,
                                          min_col=start_col,
                                          max_col=end_col))

l_2d = get_list_2d(sheet1, 4, max1, 0, 8)


df = pd.DataFrame(l_2d)


#pprint.pprint(l_2d, width=40)


display(df)

['請求一覧2110', 'Sheet3', '顧客管理テーブル']
['請求一覧2101', '請求一覧2102', '請求一覧2103', '請求一覧2105', '請求一覧2106', '請求一覧2107', '請求一覧2108', '請求一覧2109', '請求一覧2110', 'Sheet3', '顧客管理テーブル']
['請求一覧2110', 'Sheet3', '顧客管理テーブル']
['受注No.', '相手先名', '相手先コード', '商品名１', '商品名２', '検収日', '金額（税抜き）', '備考']

          0     1       2     3     4     5        6          7
0  201201.0  None  1005.0   顧問料  None  28.0  80000.0  2020.12月分
1       NaN  None     NaN  None  None   NaN      NaN       None
2       NaN  None     NaN  None  None   NaN      NaN       None
3       NaN  None     NaN  None  None   NaN      NaN       None
4       NaN  None     NaN  None  None   NaN      NaN       None
5       NaN  None     NaN  None  None   NaN      NaN       None
6       NaN  None     NaN  None  None   NaN      NaN       None
7       NaN  None     NaN  None  None   NaN      NaN       None
8       NaN  None     NaN  None  None   NaN      NaN       None
9       NaN  None     NaN  None  None   NaN      NaN       None